:root {
  --outfit-font: "Outfit", sans-serif;
  --quattrocento-font: "Quattrocento", serif;
  --page-padding-desktop: 48px;
}

#about-page {
  display: flex;
  justify-content: space-between;
  padding: var(--page-padding-desktop);
}

#about-horizontal-photo,
#about-vertical-photo {
  display: none;
}

#about-description {
  width: 79%;
}

#about-photo {
  width: 42%;
}

#about-bw-photo {
  width: 20%;
}

#about-photo img,
#about-bw-photo img {
  width: 100%;
  object-fit: contain;
}

#about-page #greeting h2 {
  font-family: var(--quattrocento-font);
  font-size: 88px;
  font-weight: 200;
}

#about-page #greeting-text {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  font-family: var(--outfit-font);
  font-size: 18px;
}

#about-page #greeting-text p {
  width: 40%;
}
