:root {
  --black: #232323;
  --outfit-font: "Outfit", sans-serif;
  --quattrocento-font: "Quattrocento", serif;
  --page-padding-desktop: 48px;
  --m-header-height: 15vh;
}

#contacts-page {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--page-padding-desktop);
}

#contacts-photo-container {
  width: 50%;
  object-fit: cover;
}

#contacts-photo-container img {
  width: 100%;
}

#contacts-and-text {
  width: 40%;
  font-family: var(--outfit-font);
  font-size: 18px;
}

#contacts-and-text p,
.social-link:not(:last-child) {
  margin-bottom: 24px;
}

#social-links {
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
}

.social-link {
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.social-link svg {
  margin-right: 24px;
}

#contact-me {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
  width: 272px;
  height: 56px;
}
