:root {
  --body-bgc: #ebe9e7;
  --outfit-font: "Outfit", sans-serif;
  --page-padding-desktop: 48px;
}

#main-page {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--page-padding-desktop);
  height: 100%;
}

#main-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#main-photo {
  width: 65%;
  min-height: 100%;
}

#main-photo-desctiption {
  width: 34%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

#main-photo-desctiption img {
  object-position: top left;
}

#main-description-text {
  position: absolute;
  top: 0;
  padding: 3vw;
  /* margin-top: 3vw; */
  width: 100%;
  font-family: var(--outfit-font);
  color: var(--body-bgc);
  font-size: 18px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(45, 45, 45, 0.5858937324929971) 36%,
    rgba(45, 45, 45, 0.5970982142857143) 59%,
    rgba(255, 255, 255, 0) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(45, 45, 45, 0.5858937324929971) 36%,
    rgba(45, 45, 45, 0.5970982142857143) 59%,
    rgba(255, 255, 255, 0) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(45, 45, 45, 0.5858937324929971) 36%,
    rgba(45, 45, 45, 0.5970982142857143) 59%,
    rgba(255, 255, 255, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

#vertical-main-page {
  display: none;
}
